<div fxLayout="row" fxLayoutAlign="space-between center">
   <button mat-icon-button >
      <img class="icons" src="./../../../assets/add_alert_black_24dp.svg" alt="add_alert">
   </button>

   <button mat-icon-button >
      <img class="icons" src="./../../../assets/person_add_alt_black_24dp.svg" alt="person_add_alt">
   </button>

   <button mat-icon-button >
      <img class="icons" src="./../../../assets/palette_black_24dp.svg" alt="palette">
   </button>

   <button mat-icon-button >
      <img class="icons" src="./../../../assets/image_black_24dp.svg" alt="image">
   </button>

   <button mat-icon-button >
      <img class="icons" src="./../../../assets/archive_black_24dp.svg" alt="archive">
   </button>
	<button mat-icon-button >
      <img class="icons" src="./../../../assets/more_vert_black_24dp.svg" alt="more">
   </button>

</div>