.spacer {
    flex: 1 1 auto;
}

.title {
    display: inline-block;
    font-family: "Product Sans", Arial, sans-serif;
    font-size: 22px;
    line-height: 24px;
    padding-left: 8px;
    position: relative;
    vertical-align: middle;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.menubutton {
    background: transparent;
    color: #5f6368;
    border: none;
  
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.is-mobile .Toolbar {
    position: fixed;
    z-index: 2;
    height: 70px;
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%);
}

.sidenav-container {
    flex: 1;
}

.is-mobile .sidenav-container {
    flex: 1 0 auto;
    display: block;
}

.search-bar {
    width: 30%;
    margin-left: 250px;
    font-weight: 300;
    padding-bottom: -1px;
    justify-content: space-between;
}

@media (min-width: 360px) and (max-width: 600px) {
    .search-bar {
        visibility: hidden;
    }

    .Toolbar {
        position: fixed;
        z-index: 2;
        height: 10px;
        width: 360px;
        margin: 0px;
    }

    .title {
        display: inline-block;
        font-family: "Product Sans", Arial, sans-serif;
        font-size: 10px;
        line-height: 5px;
        padding-left: 0px;
        position: relative;
        vertical-align: middle;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    .mat-toolbar-single-row {
        height: 36px;
    }

    .material-icons {
        font-size: 10px;
        margin-left: 0px;
    }

    .sidenav-icons {
        opacity: 0.7;
        background-color: #feefc3;
    }
}
.button {
    margin-left: 30px;
    font-size: 15px;
}
.listbuttons {
    border-radius: 0 25px 25px 0;
}
.listbuttons:hover {
    background-color: #feefc3;
}
.listbuttons:active {
    background-color: #feefc3;
}
.listbuttonsbackground {
    background: transparent;
    border: none;
}

