<div fxLayout="row" fxLayoutAlign="center center">
	<mat-card class="body">

		<div fxFlex="60" fxLayout="column" fxLayoutAlign="space-between left" fxFlex.gt-xs="100%">

			<div fxLayout="row">
				<mat-card-title fxLayout="row">
					<div style="color:#4285F4;">F</div>
					<div style="color:#EA4335;">u</div>
					<div style="color:#FBBC05;">n</div>
					<div style="color: #4285F4;">d</div>
					<div style="color: #34A853;">o</div>
					<div style="color:#EB4E41;">o</div>
				</mat-card-title>
			</div>

			<h1>
				Create Your Fundoo Account
			</h1>
			<form [formGroup]=" signupform" (ngSubmit)="onSubmit()">
				<div class="Fcontainer"> 
					<div class="align-field"  >
						<mat-form-field appearance="outline">
							<mat-label>First Name</mat-label>
							<input matInput type="text" formControlName="firstName">
							<mat-error>Enter Valid firstName</mat-error>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>Last Name</mat-label>
							<input matInput type="text" formControlName="lastName">
							<mat-error>Enter Valid lastName</mat-error>
						</mat-form-field>
					</div>

					<mat-form-field appearance="outline" [style.width.%]="100" fxFlex-xs="column">
						<mat-label>Username</mat-label>
						<input matInput type="text" formControlName="email">
						<mat-error>Enter Valid email</mat-error>
						<mat-hint>You can use letters,numbers & periods</mat-hint>
					</mat-form-field>

					<div class="align-field" fxClass-xs="column">
						<mat-form-field appearance="outline">
							<mat-label>Password</mat-label>
							<input matInput [type]="hide?'password':'text'" formControlName="password">
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>Confirm</mat-label>
							<input matInput [type]="hide?'password':'text'" formControlName="confirmPassword">
						</mat-form-field>
					</div>
					<mat-hint class="hint">Use 8 or more characters with a mix of letters,
						numbers & symbols</mat-hint>
				</div>

			</form>
			<div class="show-Password" (click)="showPassword()">
				<mat-checkbox>Show Password</mat-checkbox>
			</div>
			<div fxLayoutAlign="start center" fxLayoutGap="220px" style="margin-left: -2vh;">


				<button mat-button (click)='onSignin()' style="color: #1a73e8;">Sign in instead</button>
				<button mat-raised-button class="button-next" color="primary" (click)="onSubmit()">Next</button>
			</div>
		</div>
		<span fxHide.xs fxFlex="40" class="signUpImage" fxLayout="column" fxLayoutAlign="space-around end">
			<img src="./../../../assets/account.svg">
			<p>One account. All of Fundoo working <br>
				for you.</p>
		</span>
	</mat-card>
</div>