<div [style.background]="data.Color">
<div  >
    <textarea matInput class="text-Description" [(ngModel)]="Title" ></textarea>
</div>
<div >
    <textarea matInput class="text-Description" [(ngModel)]="Description"></textarea>
</div>
<div fxLayout="row" fxLayoutAlign="space-between end">
    <div fxFlex="70">
        <app-icons style="padding-bottom: 40%; "     [noteObject]="data"></app-icons>
    </div>
    <div>
        <button mat-icon-button (click)="onClose()" style="opacity: 0.9; margin-right: 10px;" >
            Close
        </button>
    </div>

</div>
</div>