<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="body">

        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-card-title>
                <div fxLayout="row">
                    <div style="color: #4285F4;">F</div>
                    <div style="color: #EA4335;">u</div>
                    <div style="color: #FBBC05;">n</div>
                    <div style="color: #4285F4;">d</div>
                    <div style="color: #EB4E41;">o</div>
                </div>
            </mat-card-title>
            <h1 style="margin-top: 5px;">Change Password</h1>
        </div>

        <h3>Create a New password</h3>

        <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="outline" [style.width.%]="95">
                <mat-label>New Password</mat-label>
                <input [type]="hide?'password':'text'" matInput formControlName="password" />
                <mat-error>Password is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" [style.width.%]="95">
                <mat-label>Confirm</mat-label>
                <input [type]="hide?'password':'text'" matInput formControlName="confirmPassword" />
            </mat-form-field>
            <button mat-raised-button class="button-next" color="primary">Save Password</button>

        </form>

        <div class="show-Password" (click)="showPassword()">
            <mat-checkbox>Show Password</mat-checkbox>
        </div>

        <div fxLayoutAlign="start center" fxLayoutGap="220px" style="margin-top: 5%; margin-left: -2vh;">

            <a mat-button href="http://localhost:4200/signin" style="color: #1a73e8;">Skip</a>

        </div>
    </mat-card>
</div>